

.container{
    margin-top: 100px;
    width: 100%;
    display: grid;
    justify-content: center ;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 40px;
}


.container img{
    border:dotted 5px rgb(255, 0, 247);

}